@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

@font-face {
    font-family: Merriweather;
    src: url(./custom-fonts/Merriweather-Regular.ttf);
  }
  
@font-face {
    font-family: EBGaramond;
    src: url(./custom-fonts/EBGaramond-Regular.ttf);
}

html body {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    font-family: 'EBGaramond', serif;
    line-height: 24px;
}

.main { 
    display: flex;
    justify-content: center;
    width: 100vw;
}

/* Bull image sized correctly in Photoshop */
.side-hero {
    display: flex;
    width: 60vw;
    height: 100vh;
    background: url(./images/bull-bg.jpg);
    background-size: cover;

    flex-grow: 1;
}

/* The div around the form */
.form-selection {
    display: flex;
    width: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    background-color: #f8f9fa;
}

.header {
    padding: 0px 2vw;
}

.intro { 
    margin: 5px 0px 15px 0px; /* Paragraph spacing between the logo and form */
}

.header img {
    width: 18rem;
    margin-bottom: -10px;
}

.sign-up-gap {
    margin-top: 5px;
}

form {
    font-family: 'Karla', sans-serif;  /* Font style input headings */
    font-size: 1.0rem;
    flex-flow: row wrap;
    gap: .5rem;
    display: flex;
}

label {
    position: relative;
    width: 20rem;
}

.input-selection {
    padding: 1.0rem 2vw 1.5rem 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123); */
}

input {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    width: 50%;
    padding: 4px 5px;


    
}

input:focus {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
    outline: none;
}

input:invalid:focus {
    border: 2px solid rgb(231, 13, 13);
} 

input:focus:valid {
    border: 2px solid rgb(51, 219, 35);
  }

  .error {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    color: rgb(231, 13, 13);
    position: relative;
  }

a {  /* Log in */
    text-decoration: none;  
    color: blue;
}

.submit-section {
    margin-top: 20px; /* Bottom of form gap between button */
    padding: 0px 2vw;
}

button[type="submit"] {
    padding: 0.8rem 1.5rem;
    text-transform: capitalize;
    font-family: 'Karla', sans-serif;
    font-size: 1.0rem;

    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(52 52 233);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type="submit"]:hover {
    background-color: rgb(23, 23, 177);
}

@media screen and (max-width: 850px) {
    .main {
        flex-direction: column;
    }
    .side-hero {
        width: 0vw;
        height: 2rem;
    }

    .form-selection, form, .submit-section {
        width: 100vw;
    }
}